body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Open Sans" serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main::before {
  content: '';
  height: 55px;
  display: block;
}
.green-highlight {
   background: #008000 !important;
   color: white;
}
.blue-highlight {
  background: blue !important;
  color: white;
}
.yellow-highlight {
  background: yellow !important;
}
.hand-icon {
  cursor: pointer;
}
.no-match-height {
  height: 90vh;
}